/* PHASE 7: Online */
.online {
  display: block;
  color: white;
  background: #0c0;
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 5px 30px;
  transform: rotate(-45deg) translateX(-25%);
  box-shadow: 0 1px 0 0 #070;
}